{% extends 'base.html.twig' %}

{% block title %}Yeah ! - Vos informations personnelles{% endblock %}

{% block body %}

<main class="noPadding" id="layoutSidenav_content">

    {% for message in app.flashes('success') %}
    <div class="alert alert-success noPadding" role="alert">{{ message }}</div>
    {% endfor %}

    <div class="container-fluid">
    
        <h1 class="m-5">Vos informations personnelles</h1>

        <div class="row">
            <div class="col-6 pb-5 pl-5">
                <div class="pt-3 pb-2">
                    <p class="d-inline p-3"><span class="font-weight-bold">Prénom : </span> {{ user.firstname }}</p>
                    <p class="d-inline p-3"><span class="font-weight-bold">Nom : </span> {{ user.lastname }}</p>    
                </div>
                <div class="pb-3">
                    <p class="d-block px-3"><span class="font-weight-bold">Adresse email : </span> {{ user.email }}</p>
                    <p class="d-block px-3"><span class="font-weight-bold">Téléphone : </span> {{ user.phone }}</p>
                </div>
                <div>
                    <p class="p-3"><span class="font-weight-bold">Entreprise(s) d'affiliation : </span></p>   
                    <ul>
                        {% for compagny in  user.compagnies %}
                        <li>
                            {{ compagny }}
                        </li>  
                        {% else %}
                            Aucune entreprise enregistrée
                        {% endfor %}
                    </ul>  
                </div>
                <a class="button pinkBackground ml-5" type="button" href="{{ path('profile_change_details', { 'id': user.id }) }}">Modifier</a>    
            </div>    
        
            <div class="col-6">
                <div class="pt-3 pb-2">
                    <p class="d-inline p-3"><span class="font-weight-bold">Crédits sur votre compte : </span> {{ user.account }}</p>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="button pinkBackground" data-toggle="modal" data-target="#reloadAccountModal">Ajouter des crédits à votre compte
                </button>

                <!-- Modal -->
                <div class="modal fade" id="reloadAccountModal" tabindex="-1" role="dialog" aria-labelledby="reloadAccountModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="reloadAccountModalLabel">Recharger votre compte en crédits</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            {% for subscription in subscriptions %}

                            <a class="d-inline-block button pinkBackground w-25" href="{{ path('profile_confirm_subscription', {id: subscription.id }) }}" type="button">Ajouter {{ subscription.credit }} crédits avec le {{ subscription.name }} pour {{ subscription.price }} &euro;</a>

                            {% endfor %}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                        </div>
                    </div>
                </div> 
            </div>    
        
        
        </div>
    

    </div>
</main>

{% endblock %}