
{% extends 'base.html.twig' %}

{% block title %} Yeah! - Liste de vos articles{% endblock %}

{% block body %}
   {# <main class="noPadding"> #}
<main class="noPadding" id="pt-85 layoutSidenav_content"> 

    {% for message in app.flashes('success') %}
    <div class="alert alert-success noPadding" role="alert">{{ message }}</div>
    {% endfor %}

    <div class="container-fluid">
        <h1 class="m-5">Liste de vos articles</h1>
        {% for announcement in announcements %} 
        <!--Bloc Carte entreprise-->
            <div class="card">
                <div class="card_bloc_1">
                    <img src="{{ asset('images/announcements/'~ announcement.image )}}" alt="Image d'illustration de l'annonce : '{{ announcement.title }}'">
                    {# <img src="{{ vich_uploader_asset(announcement, 'imageFile') | imagine_filter('miniatures') }}" alt="Image d'illustration de l'annonce : '{{ announcement.title }}'"> #}
                </div>

                <div class="card_bloc_2">
                    <div class="card_category pinkBackground">
                        <p>{{ announcement.category.name }}</p>
                    </div>
                    <p>{{ announcement.activitySector.name }}</p>
                    <div class="card_title">
                        <h2>{{ announcement.title }}</h2>
                    </div>
                    <div class="card_text">
                        <p>{{ announcement.description }}</p>
                    </div>
                    <div class="card_announcement">
                        <p>Annonce. {{ announcement.ref }}</p>
                    </div>
                    
                    <div class="keyWords"> Mots-clés :  
                        <p>
                            {% for keyWords in announcement.keyWords %} 
                                #{{ keyWords }}  
                            {% endfor %}                
                        </p>         
                    </div>
                </div>

                <div class="card_bloc_3">
                    <div class="informations">

                        {% set unlockedAnnouncement = false %}


                        {% if app.user %}

                            {% for array in app.user.unlockedAnnouncements %}
                                {% if announcement.id == array.announcements.id %}
                                    {% set unlockedAnnouncement = true %}
                                {% endif %}
                            {% endfor %}

                        {% endif %}

                        <div class="card_alternative_text">
                            <p><i class="las la-map-marker"></i>Localisation : {{ announcement.deptCode }}</p>
                        </div>
                        <div class="card_alternative_text">
                            <p>
                                <i class="las la-clock"></i> 
                                <time datetime="{{ announcement.createdAt | date('d.m.Y') }}">
                                    {{ announcement.createdAt | date('d.m.Y')}}
                                </time>
                            </p>
                        </div>
                        <address>
                            <div class="card_alternative_text">
                                <p>
                                    <i class="las la-phone"></i> 
                                    {% if unlockedAnnouncement == true %}
                                        <a href="tel:{{ announcement.user.phone }}">{{ announcement.user.phone }}</a>  
                                    {% else %}      
                                        *********** 
                                    {% endif %}                     
                                </p>

                            </div>
                            <div class="card_alternative_text">
                                <p>
                                    <i class="las la-envelope"></i>
                                    {% if unlockedAnnouncement == true %}
                                        <a href="mailto:{{ announcement.user.email }}">{{ announcement.user.email }}</a>  
                                    {% else %}      
                                        *********** 
                                    {% endif %}                      
                                </p>
                            </div>                
                        </address>
                        <div class="card_alternative_text">
                            <p>
                                <i class="las la-euro-sign"></i> 
                                
                                {% if unlockedAnnouncement %}
                                    {{ announcement.priceRange[0] }} - {{ announcement.priceRange[1] }} &euro;
                                {% else %}
                                    ***********
                                {% endif %}                 
                            </p>

                        </div>

                        <p>Coordonnées débloquées {{ announcement.unlockCount }} fois.</p>

                    </div>

                    <a href="{{ path('profile_edit', {slug : announcement.slug} ) }}" type="button" class="button violetBackground">Modifier l'annonce</a>
                    
                </div>
            </div>
        <!--Fin Bloc Carte entreprise-->  

    
        {% endfor %}

        <div>
            {{ knp_pagination_render(announcements) }}
        </div>
        <!--Fin Bloc Carte entreprise-->

    </div>
</main>

{% endblock %}
