{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="w-100 mx-auto fond">

    <form method="post" class="w-50 mx-auto">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endfor %}

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class=" titre mb-4 pt-4 text-center"> Yeah-Connexion</h1>

        <label for="inputEmail" class="policeForm">Adresse e-mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" required autofocus>
        <label for="inputPassword" class="policeForm">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <div class="mt-2">
            <a href="{{ path('app_forgot_password_request') }}" class="blackText ">Mot de passe oublié ?</a>
        </div>
        <div class="checkbox mt-3">
            <label>
                <input type="checkbox" name="_remember_me" class=" mr-2"> Se souvenir de moi
            </label>
            
        </div>
        
        <div class="col text-center">
            <button class="btn pinkBackground mt-4" type="submit">  Se connecter</button>
        </div>
    </form>

    <div class="  w-50 mx-auto my-5">
        <h1 class="titre mb-4 font-weight-normal text-center">Nouveau client ?</h1>
        
        <div class="col text-center">
            <button class="btn bouton" type="submit">
                <a href="{{ path('app_register') }}" class=" btn pinkBackground mb-4">S'inscrire</a>
            </button>
        </div>
    </div>
</div>



{% endblock %}
