{% extends 'base.html.twig' %}

{% block title %} Yeah! - Accueil{% endblock %}

{% block body %}

    
    <main class="noPadding">

        {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('failUnlock') %}
        <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}


        <div class="left_bloc">
            <!--Présentation entreprise-->
            <section>
                <h1>Plateforme d’affaires et d’opportunités commerciales</h1>
                <p>yeah.io simplifie la mise en relation entre l’offre et la demande. Vous pouvez inscrire votre entreprise, répondre à des devis, trouver des nouveaux prospects, développer votre chiffre d’affaire, faire connaitre votre savoir-faire ou encore rechercher un prestataire, déposer une offre de stage ou d’emploi...</p>
                <p class="pinkText">Devenez apporteur d’affaire en postant une opportunité commerciale précise et recevez en contrepartie des €, des bons cadeaux ou des bons de réductions.</p>
                <a href="{{ path('home_new') }}" type="button" class="button pinkBackground">Créer une publication</a>
            </section>
            <!-- Fin Présentation entreprise-->
    
            <!--Liste entreprises-->
            <section>
            <!--Barre de recherche-->
                <div class="search_filter"> 
                    <form class="search_bar" action="{{ path('home') }}" method="get">
                        <div>
                            <input type="text" name="search" placeholder="Que recherchez-vous ?">
                        </div> 

                        <div>
                            <select name="activitySectorFilter" id="activitySectorFilter">
                                <option value="">Secteurs d'activité</option>     
                                {% for activitySector in activitySectors|sort((a, b) => a.name <=> b.name) %} 
                                    <option value={{ activitySector.id }}>{{ activitySector.name }}</option>
                                {% endfor %}                         
                            </select>
                        </div>
                        <div>
                            <select name="deptCode" id="locationFilter">
                                <option value="">Où</option>
                                {% set newArray = [] %}
                                {% for announcement in announcementsNoPag|sort((a, b) => a.deptCode <=> b.deptCode) %}  
                                    {% if announcement.deptCode not in newArray %}
                                        <option value={{ announcement.deptCode }}>{{ announcement.deptCode }} - {{ announcement.departememt }}</option>
                                        {% set newArray = newArray|merge([announcement.deptCode]) %}
                                    {% endif %}
                                {% endfor %}     
                            </select>
                        </div>
                        <div>
                            <select name="adTypeFilter" id="adTypeFilter">
                                <option value="">Type d'annonces ?</option>
                                {% for category in categories %} 
                                    <option value={{ category.id }}>{{ category.name }}</option>
                                {% endfor %}   
                            </select>
                        </div>
                        <button type="submit" class=" button violetBackground">C'est parti</button>
                    </form>
                </div>
            <!--Fin Barre de recherche-->

            <div class="dropdown">
                <button class="btn dropdown-toggle sortByButton" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Trier par <i class="las la-sort-amount-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <ul class="m-0 py-0 rounded-lg">
                        <li class="m-0 py-0 pr-2">{{ knp_pagination_sortable(announcements, 'Titres croissants', 'a.title', {}, {'direction': 'asc'}) }}</li>
                        <li class="m-0 py-0 pr-2">{{ knp_pagination_sortable(announcements, 'Titres décroissants', 'a.title', {}, {'direction': 'desc'}) }}</li>
                        <li class="m-0 py-0 pr-2">{{ knp_pagination_sortable(announcements, 'Références', 'a.ref') }}</li>
                        <li class="m-0 py-0 pr-2">{{ knp_pagination_sortable(announcements, 'Du plus ancien au plus récent', 'a.created_at', {}, {'direction': 'asc'}) }}</li>
                        <li class="m-0 py-0 pr-2">{{ knp_pagination_sortable(announcements, 'Du plus récent au plus ancien', 'a.created_at', {}, {'direction': 'desc'}) }}</li>                
                    </ul>
                </div>
            </div>


            <!--Bloc Carte entreprise-->
                {% for announcement in announcements %} 
                    {{ include('home/_listAnnouncements.html.twig') }}
                {% endfor %}
                <div>
                {{ knp_pagination_render(announcements) }}
                
                </div>
            <!--Fin Bloc Carte entreprise-->
            </section>
            <!--Fin Liste entreprises-->
        </div>

        <!--Carte géo-->
        <div id="map" data-cities-coord="{{ citiesCoord }}">
            <!--Intégration Carte géo-->
        </div>
        <!--Fin carte géo-->

    </main>

{% endblock %}
{% block javascripts %}
    {# js pour affichage de la carte #}
    <script src="{{ asset('js/map.js') }}"></script>
{% endblock %}

