{% extends 'admin/base_admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <h1 class=" titre mb-4 pt-4 text-center pt-150">Liste des utilisateurs</h1>

    <section class="fond">
        <div class="container ">
            <div class="col-10 mx-auto">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Numéro de téléphone</th>
                            <th>Rôle</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            <td>
                                <a href="{{ path('admin_users_show', {'slug': user.slug}) }}" class="btn pinkBackground w-100 mb-1">Voir</a>
                                <a class="btn violetBackground w-100" href="{{ path('admin_users_edit', {'slug': user.slug}) }}">Editer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">Aucun élément à afficher</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}
