{% extends 'admin/base_admin.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1 class=" titre mb-4 pt-4 text-center">Users</h1>

    <a href="{{ path('admin_users_index') }}">back to list</a>

 <div class="col-sm col-lg-8 mr-4 mx-auto">
        <table class="table ">
            <tbody>

                <tr>
                    <th>Lastname</th>
                    <td>{{ user.lastname }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ user.phone }}</td>
                </tr>
                <tr>
                    <th>Roles</th>
                    <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                </tr>
            
            </tbody>
        </table>

        {# faire différents onglets : Entreprise(s), Annonces postées, Hi4storique des Achats #}

        <!-- onglet "Entrepirses" -->
        <h3>Entreprises</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>N° Siret</th>
                </tr>
            </thead>
            <tbody>
            {% for compagny in user.compagnies %}
                <tr>
                    <td>{{ compagny.name }}</td>
                    <td>{{ compagny.siret }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucun ancien payement</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- onglet "Anonces postées" pour voir les annonces posté par l'utilisateur -->
    <h3>Annonces postées</h3>

    {% for announcement in announcements %}
        {{ include('admin/_listAnnouncements.html.twig') }}
    {% else %}
            <p>Cet utilisateur n'a pas encore posté d'annonce</p>
    {% endfor %}

    <!-- onglet "Historique des Abonnements" pour voir l'historique des abonnement -->
    <h3>Historique des Abonnements</h3>
    
    <table class="table">
        <thead>
            <tr>
                <th>Abonnement</th>
                <th>montant</th>
                <th>Date de paiement</th>
                <th>Entreprise</th>
            </tr>
        </thead>
        <tbody>
        {% for sub in user.subscriptionPurchases == user %}
            <tr>
                <td>{{ sub.subscription.name }}</td>
                <td>{{ sub.amount }}</td>
                <td>{{ sub.orderedAt }}</td>
                <td>{{ sub.compagny.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun ancien payement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
