{% extends 'base.html.twig' %}

{% block title %}Hello BidonController!{% endblock %}


{% block body %}

<!--Bloc Carte entreprise-->
    <div class="card">
        <div class="card_bloc_1 bg-warning">
            {# <img src="{{ asset('images/announcements/'~ announcement.image )}}" alt="Image d'illustration de l'annonce : '{{ announcement.title }}'"> #}
            {# <img src="{{ vich_uploader_asset(announcement, 'imageFile') | imagine_filter('miniatures') }}" alt="Image d'illustration de l'annonce : '{{ announcement.title }}'"> #}
        
        </div>

        <div class="card_bloc_2">
            <div class="card_category pinkBackground">
                {# <p>{{ announcement.category.name }}</p> #}
            </div>
            {# <p>{{ announcement.activitySector.name }}</p> #}
            <div class="card_title bg-primary">
                {# <h2>{{ announcement.title }}</h2> #}
            </div>
            <div class="card_text bg-danger">
                {# <p>{{ announcement.description }}</p> #}
            </div>
            <div class="card_announcement">
                {# <p>Annonce. {{ announcement.ref }}</p> #}
            </div>
            
            <div class="keyWords"> Mots-clés :  
                {# <p>
                    {% for keyWords in announcement.keyWords %} 
                        #{{ keyWords }}  
                    {% endfor %}                
                </p>          #}
            </div>
        </div>

        </div>
    </div>
<!--Fin Bloc Carte entreprise-->  

{% endblock %}
