{% extends 'base.html.twig' %}

{% block title %}Subscription index{% endblock %}

{% block body %}
    <h1>Subscription index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Crédits confèrés</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.name }}</td>
                <td>{{ subscription.credit }}</td>
                <td>{{ subscription.price }}</td>
                <td>
                    <form method="post" action="{{ path('admin_subscription_delete', {'id': subscription.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subscription.id) }}">
                        <button class="btn">Delete</button>
                    </form>
                    <a class="btn" href="{{ path('admin_subscription_edit', {'id': subscription.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_subscription_new') }}">Create new</a>
{% endblock %}
