{% extends 'admin/base_admin.html.twig' %}

{% block title %}Liste des Packs{% endblock %}

{% block body %}
    <h1 class="pt-150">Liste des Packs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Crédits confèrés</th>
                <th>Prix</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for subscription in subscriptions %}
            <tr>
                <td>{{ subscription.name }}</td>
                <td>{{ subscription.credit }}</td>
                <td>{{ subscription.price }}</td>
                <td>
                    <form method="post" action="{{ path('admin_subscription_delete', {'id': subscription.id}) }}" onsubmit="return confirm('Etes-vous sûr ?');">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subscription.id) }}">
                        <button class="btn">Supprimer</button>
                    </form>
                    <a class="btn" href="{{ path('admin_subscription_edit', {'id': subscription.id}) }}">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun élément à afficher</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_subscription_new') }}">Nouveau</a>
{% endblock %}
